<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Client_B.Properties.Settings.TI_UMYConnectionString"
            connectionString="Data Source=TSAQIFJR\MSSQLSERVER01;Initial Catalog=&quot;TI UMY&quot;;User ID=sa;Password=2021Lulus"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>